@import 'variables';
@import 'reset';
@import 'header';
@import 'nav';
@import 'catalog';
@import 'card';
@import 'stars';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: $color-text;
  background-color: #fff;
}
